<!DOCTYPE html>
<html>
<head>
    <title>Connect</title>
    <link rel="stylesheet" href="../static/css/authentication.css">
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.5/dist/web3.min.js"></script>
</head>

<body>
    <div id="head-panel">
        <p id="company-logo">
            <img id="logo-img" src="../static/img/company-icon.png">
            <span id="logo-text">VeStore</span>
        </p>
    </div>

    <div id="body-panel">
        <div id="body-main">
            <p id="header-text">Solution for Trustworthy
                Cloud Storage</p>
            <p id="desc-text">We are providing Multi-Cloud storage with efficient data auditing utilized with Blockchain</p>
            <p id="connect-metamask">
                <img src="../static/img/metamask-icon.png">
                <span>Connect</span>
                <script src="../static/js/connect_metamask.js"></script>
            </p>
        </div>
        <div id="body-secondary">
            <img src="../static/img/system.png">
        </div>
    </div>

</body>
</html>