<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
</head>
<body>
    <p><b>Account Address:</b> {{account_address}}</p>
    <p>Balance: 99.99ETH</p>
    <button onclick="window.location.href = '/'">Logout</button>
    <h1>Upload a File</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <label>file description</label><input type="text"><br>
        <input type="submit" value="Upload">
    </form>
    <h1>List of owned files</h1>
    <table style="border: 1px solid black;border-collapse: collapse;">
        <tr>
            <th>filename</th>
            <th>create</th>
            <th>last modified</th>
            <th>number of block</th>
            <th>size</th>
            <th></th>
            <th></th>
        </tr>
        {% for file in own_list %}
        <tr>
            <td>{{file.filename}}</td>
            <td>{{file.created_date}}</td>
            <td>{{file.last_update}}</td>
            <td>{{file.number_of_block}}</td>
            <td>{{file.file_size}}</td>
            <td><button>Download</button></td>
            <td><button>Audit</button></td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    {% if share_list|length > 0 %}
    <h1>List of shared files</h1>
    <table style="border: 1px solid black;border-collapse: collapse;">
        <tr>
            <th>filename</th>
            <th>create</th>
            <th>last modified</th>
            <th>number of block</th>
            <th>size</th>
            <th>owner</th>
            <th>ACL</th>
            <th></th>
        </tr>
        {% for file in share_list %}
        <tr>
            <td>{{file.filename}}</td>
            <td>{{file.created_date}}</td>
            <td>{{file.last_update}}</td>
            <td>{{file.number_of_block}}</td>
            <td>{{file.file_size}}</td>
            <td>{{file.owner_address}}</td>
            <td>{{file.ACL}}</td>
            <td><button>Download</button></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div>
        <h1>Audit</h1>
        <h1>filename xxxxxx</h1>
        <label>Audit threshold</label><input type="number" min="1" max="100"><br>
        <button>audit</button>
    </div>
</body>
</html>
